*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 105%;
    background-color: rgb(224, 165, 165);
    
    }
    h1{
    font-size: 500%;
    text-align: center;
    font-weight: bold;
    color: maroon;
    text-align: top;
    font-family: Arial;
    }
    .Header{
        text-align: center;
        margin: 15px;
        border: solid;
        border-radius: 20px;
        border-color: maroon;
        text-indent: 10px;
        text-align-last: auto;
        margin-right: 20px;
        }
        h2{
        text-align: center;
        color: rgb(0, 26, 255);
        font-size: x-large;
        }
        h3{
            width: 200px;
            color: rgb(250, 0, 0);
            margin-right: 300px;
            text-align: start;
            margin-left: 400px;
            margin-top: 10px;
            }
            h4{
            color: rgb(238, 255, 0);
            margin-right: 300px;
            text-align: start;
            margin-left: 400px;
            }
            .Images{
                width: 150;
                margin-top: 20px;
                border: outset 7px;
                border-color: mediumturquoise;
                border-radius: 50px;
                float: left;
                margin-left: 100px;
                }
                .Adam{
                    border-style: double;
                    border-radius: 20px;
                    text-align: center;
                    margin-left: 15px;
                    }
                    .Morton{
                    border-style: double;
                    border-radius: 20px;
                    text-align: center;
                    margin-left: 15px;
                    }
                    .Sam{
                    border-style: double;
                    border-radius: 20px;
                    text-align: center;
                    margin-left: 15px;
                    }
                    .Jesse{
                    border-style: double;
                    border-radius: 20px;
                    text-align: center;
                    margin-left: 15px;
                    }
                    .James{
                    border-style: double;
                    border-radius: 20px;
                    text-align: center;
                    margin-left: 15px;
                    }
                    .songs{
                        border-style: double;
                        text-align: center;
                        border-radius: 20px;
                        border-width: 3px;
                        margin-left: 20px;
                        }
                        .Harder{
                            border-top: double;
                            border-bottom: double;
                            border-radius: 20px;
                            }
                            .Jagger{
                            border-top: double;
                            border-bottom: double;
                            border-radius: 20px;
                            }
                            .Night{
                            border-top: double;
                            border-bottom: double;
                            border-radius: 20px;
                            }
                            .Payphone{
                            border-top: double;
                            border-bottom: double;
                            border-radius: 20px;
                            }
                            .Sugar{
                            border-top: double;
                            border-bottom: double;
                            border-radius: 20px;
                            }
                            .Love{
                            border-top: double;
                            border-bottom: double;
                            border-radius: 20px;
                            }
                            .Belove{
                            border-top: double;
                            border-bottom: double;
                            border-radius: 20px;
                            }
                            .Animals{
                            border-top: double;
                            border-bottom: double;
                            border-radius: 20px;
                            }                            